#toggler-container {
    position: absolute !important;
    bottom: 93% !important;
}
.card-image {
    width: 150px;
    height: 100px;
}
@media (max-width: 769px) {

    #sidebar-wrapper {
       display: none;
    }
}
@media (max-width: 767px) {
    #sidebar-toggler {
        display:unset  !important;
    }

    #offcanvas-sidebar {
        display:unset  !important;
    }
    #toggler-container {
        display:unset  !important;
    }
}