#sidebar-wrapper {
    background-color: gray;
}
#sidebar-wrapper * {
    font-size: x-large;
    text-decoration: none;
}
#offcanvas-nav * {
    text-decoration: none;
    font-size: x-large;
    color: white;
}
#toggler-container {
    position: absolute;
    bottom: 94%;
}
#banner {
    background-image: url("./shared/imgs/tim-wildsmith-o2fc-C-Uotw-unsplash.jpg");
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center ;
}
#banner-image {
    width: 30%;
    height: 30%;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 110px;
    }
    #mainNav p {
        font-size: medium;
    }
    #input {
        font-size: medium;
    }
}
@media (max-width: 425px) {
    #sidebar-wrapper {
        display: none;
    }
    #banner-image {
        width: 40%;
        height: 40%;
    }
}
@media (min-width: 426px) {
    #sidebar-toggler {
        display: none
    }

    #offcanvas-sidebar {
        display: none;
    }
    #toggler-container {
        display: none;
    }
}