#sidebar-wrapper {
    width: 150px;
    background-color: gray;
}
#sidebar-wrapper * {
    font-size: large;
    text-decoration: none;
}
#offcanvas-nav * {
    text-decoration: none;
    font-size: x-large;
    color: white;
}
#details-img {
    width: 250px;
    height: 250px;
}
.library-img {
    width: 128px;
    height: 150px;
}

#toggler-container {

}

body {
    background-color: #6e747e !important;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 110px;
    }
    #mainNav p {
        font-size: medium;
    }
    #input {
        font-size: medium;
    }
    #offcanvas-sidebar {
        width: 100%;
    }
}
@media (max-width: 550px) {
    #sidebar-wrapper {
        display: none;
    }
}

@media (max-height: 1800px ) {
    #toggler-container {
        position: absolute;
        bottom: 97%;
        left: 5%;
    }
}

@media (max-height: 1600px ) {
    #toggler-container {
        position: absolute;
        bottom: 96%;
    }
}


@media (max-height: 1400px ) {
    #toggler-container {
        position: absolute;
        bottom: 96%;
    }
}


@media (max-height: 1200px ) {
        #toggler-container {
            position: absolute;
            bottom: 95%;
        }
}


@media (max-height: 1000px ) {
    #toggler-container {
        position: absolute;
        bottom: 94%;
    }
}

@media (max-height: 700px ) {
    #toggler-container {
        position: absolute;
        bottom: 91%;
    }

}